@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,100;0,200;0,400;0,700;0,800;1,800;1,900&display=swap');

:root {
    --text-black-900:#0a080896;
    --bg-black-600: #cb0909;
  }
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.body{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
.sec2 img{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 200px;
    margin-top: 10%;
    }

span1{
    color: var(--text-black-900);
    font-size: 40px;
}
.nav-logo{
    margin-top: 10%;
    margin-left: 8%;
}
.nav-logo img{
    width: 500px;
}


.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
     color: var(--bg-black-600);
     text-decoration: none;
     font-size: 20px;
}
.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(192, 81, 7);
    display: block;
    margin: auto;
    transition: 0.3s;
}
.nav-links ul li:hover::after {
    width: 100%;
}

.program h1{
    text-align: center;
    font-weight: 600;
    font-size: 60px;
    background-color: var(--bg-black-600);
    margin-left: 30%;
    border-left: 20px;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    color: white;
}

.rights {
    font-weight: 600;
    background-color: red;
  }
  .rights .container .row .rights1 .rights2 .fa{
    font-size: 20px;
    line-height: 60px;
    color: white;
    transition: all 0.3s ease;
    margin-left: 25px;
  }
  h2{
    padding: 20px;
    color: white;
    margin-left: 20px;
  }
  .nav-text{
    width: 90%;
    color: rgb(200, 21, 57);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.nav-links ul li span{
    font-size: 40px;
    font-weight: 600;
    color: var(--bg-black-600);
    font-size: 55px;
    text-decoration: double;
}
span2{
    color: var(--bg-black-600);
    font-size: 30px;
}
 
  * {box-sizing: border-box;}
  body {font-family: Verdana, sans-serif;}
  .mySlides {display: none;}
  img {vertical-align: middle;}
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 10000px;
    position: relative;
    margin-top: 0%;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
.row{
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}

/*slides*/
.jssorl-009-spin img {
  animation-name: jssorl-009-spin;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


.jssorb031 {
  position: absolute;
}
.jssorb031 .i {
  position: absolute;
  cursor: pointer;
}
.jssorb031 .i .b {
  fill: #000;
  fill-opacity: 0.5;
  stroke: #fff;
  stroke-width: 1200;
  stroke-miterlimit: 10;
  stroke-opacity: 0.3;
}
.jssorb031 .i:hover .b {
  fill: #fff;
  fill-opacity: 0.7;
  stroke: #000;
  stroke-opacity: 0.5;
}
.jssorb031 .iav .b {
  fill: #fff;
  stroke: #000;
  fill-opacity: 1;
}
.jssorb031 .i.idn {
  opacity: 0.3;
}
.jssora051 {
  display: block;
  position: absolute;
  cursor: pointer;
}
.jssora051 .a {
  fill: none;
  stroke: #fff;
  stroke-width: 360;
  stroke-miterlimit: 10;
}
.jssora051:hover {
  opacity: 0.8;
}
.jssora051.jssora051dn {
  opacity: 0.5;
}
.jssora051.jssora051ds {
  opacity: 0.3;
  pointer-events: none;
}
