:root {
    --bg-black-100: #fdf9ff;
    --text-black-900:#100050;
    --text-black-700:rgb(143, 143, 13);
    --bg-black-600: #cb0909;
  }
 

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header{
    min-height: 5vh;
    width: 100%;
   /* background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(imgs/bib2.jpg);*/
    background-position: center;
    background-size: cover;
    position: relative;
}

.header2{
    min-height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(imgs/bib2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    border-top-left-radius: 80px;
    margin-left: 25px;
}
.hotline{
    text-align: right;
    margin-left: 60%;
    font-size: large;
}

* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; 
  }


  /*form part in the 2nd section*/
  
form{
	max-width: 90%;
	border:  thin solid #e4e4e4;
	padding: 20px 40px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	margin: 0 auto;
    background-color: var(--text-black-900);
    border-top-right-radius: 50px;
    height: 70vh;
    color: var(--bg-black-100);
}

form h2, .page h2{
	font-size: 32px;
	line-height: 52px;
	color: #555;
	margin-bottom: 5px;
}

form h4, .page h4{
	margin-bottom: 30px;
	padding-bottom: 10px;
	border-bottom: thin solid #e4e4e4;
	line-height: 26px;
}

form h4 span{
	color: #af0c0c;
	font-weight: normal;
}

form > div{
	margin-bottom: 20px;
}

form .grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 50px;
}

form label{
	display: block;
	margin-bottom: 10px;
	padding-left: 5px;
}

form input{
	display: block;
	width:  100%;
	padding: 10px;	
	margin-bottom: 10px;
	font-size: 16px;
	border:  thin solid #e4e4e4;
	margin-bottom: 30px;
	border-radius: 5px;
}

form input:focus
{
	outline: none;
}

form button{
	background: var(--text-black-700);
	color: white;
	border: none;	
	padding: 10px 30px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
	margin-bottom: 10px;	
    margin-left: 60%;
}

form button:active{
	background-color: green;
}

form p{
	margin-top: 15px;
}

form p a{
	display: inline-block;
	/*margin-left: 10px;*/
	color: #006dbc;
	text-decoration: none;
}




  .rowr:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

.sec2{
    background-color: red;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 100px;
    
}
.li-al{
    flex: 1;
    text-align: left;
}
.li-al ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.li-al ul li a{
    color: bisque;
    text-decoration: none;
    font-size: 20px;
}
.li-al ul li ::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(176, 18, 18);
    display: block;
    margin: auto;
    transition: 0.3s;
}
.li-al ul li :hover::after{
    width: 100%;
}
.nav-links{
    flex: -1;
    text-align: left;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: left;
}
.nav-links ul li a{
     color: black;
     text-decoration: none;
     font-size: 20px;
     
}
.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: var(--text-black-900);
    display: block;
    margin: auto;
    transition: 0.3s;
}
.nav-links ul li:hover::after {
    width: 100%;
}
.nav-text{
    width: 90%;
    color: rgb(200, 21, 57);
    position: absolute;
    top: 20%;
    left: 15%;
    transform: translate(-50%,-50%);
    text-align: center; 
}
.low{
    width: 90%;
    color: rgb(235, 231, 231);
    position: absolute;
    top: 90%;
    left: 10%;
    transform: translate(-50%,-50%);
    text-align: center; 
}
.nav-text h3{
    font-size: 30px;
    color:white;

}
.nav-text p{
    margin: 10px 0 40px;
    font-size: 24px;
    color: rgb(237, 242, 238);
}   
.nav-text p span{
    color: var(--text-black-700);
}


.class-btn{
    display: inline-block;
    text-decoration: none;
    color: brown;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.class-btn:hover{
    border: 1px solid burlywood;
    background: #fff;
    transition: 0.3s;
}


  *{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
  }
  ::before,::after{
    box-sizing: border-box;
  }
  ul{
    list-style: none;
  }
  .section{
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
     padding: 0 30px;
     opacity: 1;
  }



  .row1{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-left: 1%;
    margin-right: -15px;
    margin-bottom: 0%;
  }
  .form-group{
    display: flex;
    background-color: red;
    width: 40%;
    margin-top: 2%;

  }

  .row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
  }


    .service .service-item{
      padding-bottom: 40px;
      margin-bottom: 30px;
      flex: 0 0 25%;
      max-width: 25%;
    }
    .service .service-item .service-item-inner{
      background-color: var(--bg-black-100);
      border: 1px solid var(--bg-black-50);
      border-radius: 10px;
      padding: 30px 15px;
      text-align: center;
      transition: all 0.3s ease;
    }
    .service .service-item .service-item-inner:hover{
        background-color: var(--text-black-900) ;
    }
    .service .service-item .service-item-inner .icon{
      height: 60px;
      width: 60px;
      border-radius: 50%;
      display: block;
      margin: 0 auto 30px;
      text-align: center;
      transition: all 0.3s ease;
    }
    .service .service-item .service-item-inner img{
        height: 60px;
        width: 60px;
        border-radius: 50%;
        display: block;
        margin: 0 auto 30px;
        text-align: center;
        transition: all 0.3s ease;
      }
    .service .service-item .service-item-inner .icon .fa{
      font-size: 40px;
      line-height: 60px;
      color: var(--skin-color);
      transition: all 0.3s ease;
    }
    .service .service-item .service-item-inner:hover .icon{
      background: var(--skin-color);
    }
    .service .service-item .service-item-inner:hover .icon .fa{
      font-size: 25px;
      color: #f2f2fc;
    }
    .service .service-item .service-item-inner h4{
      font-size: 18px;
      margin-bottom: 15px;
      color: var(--text-black-900);
      font-weight: 700;
      text-transform: uppercase;
    }
    .service .service-item .service-item-inner p{
      font-size: 16px;
      color: var(--text-black-700);
      line-height: 20px;
    }






.row{
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}
h4{
  color: var(--text-black-700);
}

h3,span{
    text-align: left;
    font-weight: 600;
    margin: 10px 0;
    color: var(--text-black-700);
    margin-left: auto;
}
h2{
  text-align: left;
  font-weight: 600;
  margin: 10px 0;
  color: var(--text-black-700);
  margin-left: auto;
}
h1{
  font-weight: 600;
  color: var(--text-black-700);
  margin-left: -70%;
}






.comprehensive{
    text-align: center;
    padding-top: 100px;
    min-height: 100vh;
    background-position: center;
    color: var(--bg-black-100);
    background-color: var(--text-black-900) ;
    position: relative;
    margin-left: 5%;
    margin-right: 7%;
}
.comprehensive-row{
    flex-basis: 20%;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-left: auto;
    text-align: left;
}
.comprehensive-row img{
    width: 100%;
    border-radius: 10px;
}
.comprehensive-row p{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}
.development{
    margin: auto;
    padding-top: 100px;
    text-align: center;
}






/*--footer--*/

.column3 {
  float: left;
  width: 33.33%;
  height: 500px; 

}


.row3{
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
  margin-left: 5%;
  margin-right:5%;
  margin-bottom: 0%;
  background-color: var(--bg-black-100);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.rights {
  color: var(--text-black-700);
  font-weight: 600;
}
.rights .container .row .rights1 .rights2 .fa{
  font-size: 20px;
  line-height: 60px;
  color:var(--text-black-700);
  transition: all 0.3s ease;
  margin-left: 25px;
}

