@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,100;0,200;0,400;0,700;0,800;1,800;1,900&display=swap');


:root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;
    --bg-black-600: #ff0000;
  }
  body .dark{
    --bg-black-900: #151515;
    --bg-black-100: #222222;
    --bg-black-50:#393939;
    --text-black-900:#ffffff;
    --text-black-700:#e9e9e9;
  }
  
  body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
    font-family: "Poppins", sans-serif;

  }


.icon img{
    width: 100%;
    align-items: center;
}


@media (max-width:1199px){
  .row{
      flex-direction: column;
  }
  .container .row{
    flex-direction: column;
    width: 300%;
    margin-left: 4%;
}
.development .row{
  flex-direction: column;
  width: 100%;
}
  .aside{
    left: -270px;
  }
  .hidden{
    display: none !important;
  }
  .main-content{
    padding-left: 270px;
  }
  .padd-15{
    padding-left: 15px;
    padding-right: 15px;
  }
  .container{
    max-width: 1100px;
    width: 100%;
    margin: auto;
  }
  .section .container{

  }
}



.smess h1{
  color: var(--bg-black-600);
  margin-right: 70%;
  font-size: 3vh;
  margin-top: -50px;
  
}

.container-fluid{
margin-left: 5%;
margin-bottom: 1%;
}
.row{
  margin-left: -20%;
  margin-right: -20%;
  margin-bottom: 1%;
}
.container-fluid p{
  margin-left: -20%;
  margin-bottom: 7%;
  padding-right: 15px;
  font-size: smaller;
  }
  .container-fluid h2{
    margin-left: -10%;
    margin-bottom: 5%;
    font-size: large;
    padding-right: 15px;

    }
.smesss h1{
  background-color: #ff0000;
  height: fit-content;
  text-align: center;
  margin-left: 40%;
  border-bottom-left-radius: 20vh;
  border-top-left-radius: 20vh;
  font-size: 3vh;
  color: var(--bg-black-700);
}

.development{
  margin: auto;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(imgs/cvc.png);
  background-position: center;
  background-size: cover;
  position: relative;

}
.development-col{
  flex-basis: 44%;
  border-radius: 40px;
  margin-bottom: 5%;
  text-align: left;
  background: aliceblue;
  padding: 25px;
  cursor: pointer;
  display: flex;
}
.development-col img{
  height: 50px;
  margin-left: 65px;
  margin-right: 30px;
}
.development h1{
  padding: 0;
  color: white;
  background-color: #ff0000;
  border-bottom-left-radius: 55px;
  margin-left: 35%;
  font-size: 3vh;
  text-align: center;
}
.development-col h3{
  margin-top: 15px;
  text-align: left;
}
h3{
  font-size: small;
  color: #ff0000;
}
.development-col .fa{
  color: #940707;
}
@media(max-width:700px){
  .development-col img{
      margin-left:0px;
      margin-right: 15px;
  }
}


/*Home slides */
body {
  font: 19px/2 "Open sans",sans-serif;
  letter-spacing: 0.05em;
}

.btn {
  display: inline-block;
  padding: 13px 20px;
  color: #fff;
  text-decoration: none;
  position: relative;
  background: transparent;
  border: 1px solid #e1e1e1;
  font: 12px/1.2 "Oswald", sans-serif;
  letter-spacing: 0.4em;
  text-align: center;
  text-indent: 2px;
  text-transform: uppercase;
  transition: color 0.1s linear 0.05s;
}
.btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #e1e1e1;
  z-index: 1;
  opacity: 0;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0.2s;
}
.btn::after {
  transition: border 0.1s linear 0.05s;
}
.btn .btn-inner {
  position: relative;
  z-index: 2;
}
.btn:hover {
  color: #373737;
  transition: color 0.1s linear 0s;
}
.btn:hover::before {
  top: 0;
  height: 100%;
  opacity: 1;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0s;
}
.btn:hover::after {
  border-color: #373737;
  transition: border 0.1s linear 0s;
}

.slideshow {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
}
.slideshow .slideshow-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slideshow .slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.slideshow .slide {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.slideshow .slide.is-active {
  display: block;
}
.slideshow .slide.is-loaded {
  opacity: 1;
}
.slideshow .slide .caption {
  padding: 0 100px;
}
.slideshow .slide .image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  z-index: 1;
  background-size: cover;
  image-rendering: optimizeQuality;
}
.slideshow .slide .image-container::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slideshow .slide  {
  width: 100%;
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.image{
width: 100%;
height: 100%;
background-repeat: no-repeat;
background-size: 100% 100%;
}
.slideshow .slide-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slideshow .slide .title {
  margin: 0 auto 15px;
  max-width: 1000px;
  font: 300 50px/1.2 "Oswald", sans-serif;
  letter-spacing: 0.35em;
  text-transform: uppercase;
}
.slideshow .slide .text {
  margin: 0 auto;
  max-width: 1000px;
  font-size: 18px;
  line-height: 1.4;
}
.slideshow .slide .btn {
  margin: 15px 0 0;
  border-color: #fff;
}
.slideshow .slide .btn::before {
  background: #fff;
}
.slideshow .pagination {
  position: absolute;
  bottom: 35px;
  left: 0;
  width: 100%;
  height: 12px;
  cursor: default;
  z-index: 2;
  text-align: center;
}
.slideshow .pagination .item {
  display: inline-block;
  padding: 15px 5px;
  position: relative;
  width: 46px;
  height: 32px;
  cursor: pointer;
  text-indent: -999em;
  z-index: 1;
}
.slideshow .pagination .item + .page {
  margin-left: -2px;
}
.slideshow .pagination .item::before {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  left: 5px;
  width: 36px;
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
  transition: background 0.2s ease;
}
.slideshow .pagination .item::after {
  width: 0;
  background: #fff;
  z-index: 2;
  transition: width 0.2s ease;
}
.slideshow .pagination .item:hover::before, .slideshow .pagination .item.is-active::before {
  background-color: #fff;
}
.slideshow .arrows .arrow {
  margin: -33px 0 0;
  padding: 20px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 3;
}
.slideshow .arrows .prev {
  left: 30px;
}
.slideshow .arrows .prev:hover .svg {
  left: -10px;
}
.slideshow .arrows .next {
  right: 30px;
}
.slideshow .arrows .next:hover .svg {
  left: 10px;
}
.slideshow .arrows .svg {
  position: relative;
  left: 0;
  width: 14px;
  height: 26px;
  fill: #fff;
  transition: left 0.2s ease;
}
.side-icon {
  position: fixed;
  right: 30px;
  top: 20%;
  transform: translateY(-50%);
  width: 70px;
  height: 130px;
  background-color: red;
  border-radius: 40px;
  box-shadow: 0 0 90px rgba(248, 5, 5, 0.5);
  cursor: pointer;
  z-index: 999;
  transition: all 0.3s ease-in-out;
}

.side-icon:hover {
  right: 0;
}

.side-icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #fff;
}

  *{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
  }
  ::before,::after{
    box-sizing: border-box;
  }
  ul{
    list-style: none;
  }
  .section{
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
     padding: 0 30px;
     opacity: 1;
  }
  .hidden{
    display: none !important;
  }
  .main-content{
    padding-left: 270px;
  }
  .padd-15{
    padding-left: 15px;
    padding-right: 15px;
  }
  .container{
    max-width: 1500px;
    width: 100%;
    margin: auto;
  }
  .section .container{
    padding-top: 60px;
    padding-bottom: 70px;
  }
  .section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
  }
  .section-title h2{
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
  }
  .section-title h2::before{
    content:'';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
  }
  .section-title h2::after{
    content:'';
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
  }


  /*aside */
  .aside{
    width: 270px;
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    border-right: 1px solid var(--bg-black-50);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .aside .logo{
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
  }
  .aside .logo a{
    color: var(--text-black-900);
    font-weight: 700  ;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;
  }
  .aside .logo a span{
    font-family: 'clicker script', cursive;
    font-size: 40px;

  }
  
  .aside .logo a::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
  }
  .aside .logo a::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;
  }
  .aside .nav-toggler{
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    align-items: center;
    justify-content: center;
  }
  .aside .nav-toggler span{
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
  }
  .aside .nav-toggler span::before{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
  }
  .aside .nav-toggler span::after{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
  }
  .aside .nav{
    margin-top: 200px;
  }
  .aside .nav li{
    margin-bottom: 20px;
    display: block;
  }
  .aside .nav li a{
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 5px 15px;
  }
  .aside .nav li a.active{
    color: var(--skin-color);
  }
  .aside .nav li a i{
    margin-right: 15px;
  }
  /*home*/
  .home{
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
  }
  .home .home-info{
    flex: 0 0 60%;
    max-width: 60%;
  }
  h3.hello{
    font-size: 28px;
    margin: 15px 0;
  }
  h3.hello span{
    font-family: 'clicker script', cursive;
    font-size: 30px;
    font-weight: 700;
    color: var(--skin-color);
  }
  h3.my-profession{
    font-size: 30px;
    margin: 15px 0;
  }
  .typing{
    color: var(--skin-color);
  }
  .home-info p{
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-black-700);
  }
  .home .home-img{
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
  }
  .home-img::after {
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color);
    right: 20px;
    bottom: -40px;

  }
  .home-img::before {
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-top: 10px solid var(--skin-color);
    border-left: 10px solid var(--skin-color);
    left: -20px;
    top: -40px;

  }
  .home .home-img img{
    margin: auto;
    border-radius: 15px;
    height: 400px;
  }
 
    .service .service-item{
      padding-bottom: 40px;
    }
    .service .service-item{
      margin-bottom: 30px;
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
    .service .service-item .service-item-inner{
      border: 1px solid var(--bg-black-50);
      border-radius: 10px;
      padding: 30px 15px;
      text-align: center;
      transition: all 0.3s ease;
    }
    .service .service-item .service-item-inner:hover{
      box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    }
    .service .service-item .service-item-inner .icon{
      height: 60px;
      width: 60px;
      border-radius: 50%;
      display: block;
      margin: 0 auto 30px;
      text-align: center;
      transition: all 0.3s ease;
    }
    .service .service-item .service-item-inner .icon .fa{
      font-size: 40px;
      line-height: 60px;
      color: var(--skin-color);
      transition: all 0.3s ease;
    }
    .service .service-item .service-item-inner:hover .icon{
      background: var(--skin-color);
    }
    .service .service-item .service-item-inner:hover .icon .fa{
      font-size: 25px;
      color: #f2f2fc;
    }
    .service .service-item .service-item-inner h4{
      font-size: 18px;
      margin-bottom: 15px;
      color: var(--text-black-900);
      font-weight: 700;
      text-transform: capitalize;
    }
    .service .service-item .service-item-inner p{
      font-size: 16px;
      color: var(--text-black-700);
      line-height: 20px;
    }
    

footer {
  background-color: #f2f2f2;
  padding: 50px 0;
  text-align: center;
}

.footer-bg {
  background-image: url('footer-bg.jpg');
  background-size: cover;
  background-position: center center;
  padding: 50px 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-md-4 {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
  text-align: left;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}

.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons li:last-child {
  margin-right: 0;
}

.social-icons a {
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #fff;
  background-color: red;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.social-icons a:hover {
  transform: scale(1.1);
}
